* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    background-color: #280828;
    background-color: #be95f7;
}

a {
    text-decoration: none;
}

#root {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vmin;

    background: url(../images/shiny_bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: relative;
}

/** Navbar starts here */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 15px 15px 30px;

    background: rgb(80, 69, 178, 0.7);

    position: sticky;
    top: 0;
    left: 0;
}

nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

ul,
ol {
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
}

nav li {
    font-size: 2rem;
}

nav .shop_cart {
    position: relative;

    cursor: pointer;
}

nav .shop_icon {
    width: 50px;
    height: 50px;
}

nav .cart_quantity {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid purple;

    color: white;
    font-weight: bold;

    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
}

nav a {
    padding: 10px 15px;
    cursor: pointer;
    font-size: inherit;
    color: black;
}
/** Navbar ends here */

/** Homepage starts here */
.main_content {
    flex: 1 1 100%;
}

.homepage {
    /*? Photo by <a href="https://unsplash.com/@yogidan2012?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Daniele Levis Pelusi</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */

    display: flex;
    justify-content: center;
    align-items: center;
}

.explanation {
    border: 5px solid purple;
    border-radius: 15px;
    padding: 4rem;
    font-size: 2rem;
    font-weight: bold;
}
/** Homepage ends here */

/** Shop starts here */
.items_container {
    background: rgb(40, 8, 40, 0.5);
    border-radius: 1rem;
    margin: 15px 20px;

    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}
/** Shop ends here */

/** Shop item starts here */
.shop_item {
    border: 3px solid violet;
    box-shadow: 3px 3px 1px #111;
    border-radius: 1rem;
    background: rgb(128, 0, 128, 0.3);
    font-weight: bold;

    padding: 1rem;

    min-width: 300px;
    min-height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 1rem;

    flex-grow: 1;
}

.item_pic {
    width: 300px;
    height: 250px;
    border-radius: 1.3rem;
}

.item_name {
    font-size: 1.2rem;
}

.add_to_cart {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    border: 2px solid aquamarine;
    border-radius: 15px;
    padding: 10px 15px;
    user-select: none;
}

.add_to_cart:hover {
    background: aquamarine;
}

.add_to_cart div {
    border: none;
    background: none;
    border-radius: 15px;
    font-weight: bold;
}

/** Shop item ends here */

/** Cart starts here */
.empty_cart {
    position: absolute;
    border: 3px solid rgb(176, 0, 181);
    box-shadow: 0px 0px 20px #be95f7;
    background: lightsteelblue;
    border-radius: 15px;
    padding: 3rem;
    font-weight: bold;
    font-size: 1rem;
    width: 30vw;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cart_modal {
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: 0%;
    opacity: 0;
    padding: 0;

    z-index: 100;

    transition: width 700ms ease-in-out, opacity 750ms ease-in-out,
        padding 500ms ease-in-out;

    background: rgb(119, 119, 119);

    overflow: auto;
}

.cart_modal.active {
    width: 35%;
    opacity: 1;
    padding: 0.5rem;
}

.remove_product {
    border: none;
    background: none;
    font-size: 3rem;
    cursor: pointer;

    position: absolute;
    top: 0;
    right: 1rem;
}

.cart_products {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    gap: 1rem;
}

.cart_item {
    border: 3px solid violet;
    box-shadow: 3px 3px 1px #111;
    border-radius: 1rem;
    background: rgb(128, 0, 128, 0.3);
    font-weight: bold;

    padding: 1rem;

    width: 30vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 1rem;

    position: relative;
}

.cart_item .item_pic {
    width: 200px;
    height: 200px;
}

.cart_item .item_quantity {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    border-radius: 15px;
    background: royalblue;
    padding: 10px;
}

.price_info {
    width: 100%;
    text-align: center;

    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    gap: 0.5rem;
}

.cart_item .change_amount {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cart_item .item_quantity * {
    font-size: 2rem;
}

.number_items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.buy_more,
.buy_less {
    cursor: pointer;
    width: 2rem;
}

.item_accumulated_price {
    border-radius: 15px;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    background: lightgreen;
}

.overlay {
    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: 0;

    pointer-events: none;

    background: rgb(0, 0, 0, 0.5);

    transition: height 700ms ease-out;
    z-index: 50;
}

.overlay.active {
    height: 100vh;
}

/** Cart ends here */
