* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    background-color: #280828;
    background-color: #be95f7;
}

a {
    text-decoration: none;
}

#root {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vmin;

    background: url(../images/shiny_bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: relative;
}

/** Navbar starts here */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 15px 15px 30px;

    background: rgb(80, 69, 178, 0.7);

    position: sticky;
    top: 0;
    left: 0;
}

nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

ul,
ol {
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
}

nav li {
    font-size: 2rem;
}

nav .shop_cart {
    position: relative;

    cursor: pointer;
}

nav .shop_icon {
    width: 50px;
    height: 50px;
}

nav .cart_quantity {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid purple;

    color: white;
    font-weight: bold;

    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
}

nav a {
    padding: 10px 15px;
    cursor: pointer;
    font-size: inherit;
    color: black;
}
/** Navbar ends here */

/** Homepage starts here */
.main_content {
    flex: 1 1 100%;
}

.homepage {
    /*? Photo by <a href="https://unsplash.com/@yogidan2012?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Daniele Levis Pelusi</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */

    display: flex;
    justify-content: center;
    align-items: center;
}

.explanation {
    border: 5px solid purple;
    padding: 4rem;
}
/** Homepage ends here */

/** Shop starts here */
.items_container {
    background: rgb(40, 8, 40, 0.5);
    border-radius: 1rem;
    margin: 15px 20px;

    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}
/** Shop ends here */

/** Shop item starts here */
.shop_item {
    border: 3px solid violet;
    box-shadow: 3px 3px 1px #111;
    border-radius: 1rem;
    background: rgb(128, 0, 128, 0.3);

    padding: 1rem;

    min-width: 300px;
    min-height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 1rem;

    flex-grow: 1;
}

.item_pic {
    width: 300px;
    height: 250px;
    border-radius: 1.3rem;
}

.item_name {
    font-weight: bold;
    font-size: 1.2rem;
}

.item_price {
    font-weight: bold;
}

.add_to_cart {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    border: 2px solid aquamarine;
    border-radius: 15px;
    padding: 10px 15px;
}

.add_to_cart:hover {
    background: aquamarine;
}

.add_to_cart div {
    border: none;
    background: none;
    border-radius: 15px;
    font-weight: bold;
}

/** Shop item ends here */
